html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Ensure the footer is NOT absolute/fixed and has minimal height */
.footer {
  position: static !important;
  width: 100%;
  padding: 0.5rem 0 !important;
}

main {
  flex: 1 0 auto;
}